<div class="col">
    <div class="product shadow rounded bg-white overflow-hidden d-flex w-100">
        <img class="rounded" src="{{ product.data.image }}" alt="{{ product.data.title }}" height="100%">
        <div class="p-2 w-100">
            <h5>{{ product.data.title }}</h5>
            <hr>
            
            <div class="small">
                <span>Bahasa: </span>
                {%- for bahasa in product.data.language -%}
                    <span class="badge text-bg-dark">{{ bahasa }}</span>
                    <span></span>
                {%- endfor -%}
                <br>

                <span>Mesin: </span>
                <span class="badge text-bg-dark">{{ product.data.engine }}</span>
                <br>

                <span>Rating: </span>
                {{ product.data.rating | safe }}
                <br>

                <span>Status: </span>
                {{ product.data.status | safe }}
            </div>
        </div>
    </div>
</div>