{%- for item in faq -%}
<div class="col border-bottom">
    <button class="d-flex justify-content-between align-items-center bg-transparent border-0 w-100 p-0"
    type="button" data-bs-toggle="collapse" data-bs-target="#faq{{ loop.index }}" aria-expanded="false" aria-controls="faq{{ loop.index }}">
        <h5 class="text-start mb-3">{{ item.q }}</h5>
        <i class="h4 bi bi-plus faq-plus"></i>
    </button>
    <div id="faq{{ loop.index }}" class="collapse collapse-faq text-start">
        {{ item.a | safe }}
    </div>
</div>
{%- endfor -%}