<div class="col border-bottom">
    <button class="d-flex justify-content-between align-items-center bg-transparent border-0 w-100 p-0"
    type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="faq1">
        <h5 class="text-start mb-3">Terkait peringatan diatas, memangnya kenapa gak mau?</h5>
        <i class="h4 bi bi-plus faq-plus"></i>
    </button>
    <div id="faq1" class="collapse text-start">
        Yah dosa lah...
    </div>
</div>

<div class="col border-bottom">
    <button class="d-flex justify-content-between align-items-center bg-transparent border-0 w-100 p-0"
    type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
        <h5 class="text-start mb-3">Berapa lama waktu yang dibutuhkan tim untuk menerjemahkan satu visual novel?</h5>
        <i class="h4 bi bi-plus faq-plus"></i>
    </button>
    <div id="faq2" class="collapse text-start">
        Tergantung niat dan waktu luang tim kami. Bisa saja berbulan-bulan atau bertahun-tahun.
    </div>
</div>

<div class="col border-bottom">
    <button class="d-flex justify-content-between align-items-center bg-transparent border-0 w-100 p-0"
    type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
        <h5 class="text-start mb-3">Bagaimana cara aku mengetahui sampai dimana progress si [A] sedang diterjemahkan?</h5>
        <i class="h4 bi bi-plus faq-plus"></i>
    </button>
    <div id="faq3" class="collapse text-start">
        Kadang (tapi tidak jarang) setiap bulan, kami memposting detail progress kerja tim kami di blog Project Honku.
        <br>
        Blog nya lagi dikerjakan sih, btw. 
    </div>
</div>