<footer class="text-white bg-color-primary pt-4 pb-4">
    <div class="container-xxl">
    <div class="d-flex flex-column flex-md-row justify-content-around align-items-center pb-3 mb-3 border-bottom">
        <img src="/public/img/logo.webp" alt="Project Honku" width="80">
        <div class="text-center">
            <h4 class="fw-bold">Project Honku</h4>
            <span>Kami menerjemahkan visual novel karena kami gabut</span>
        </div>
    </div>

    <div class="text-center small">
        <a href="/fair-use">Penggunaan Wajar</a> | <a href="/privacy-policy">Kebijakan Privasi</a> | <a href="mailto:email@honku.my.id">Kontak Kami</a>
        <br><br>
        <small class="opacity-75">
            <b>Project Honku</b> merupakan organisasi nirlaba.
            <br>
            Setiap aset game adalah milik dari perusahaan masing-masing.
        </small>
    </div>
    </div>
</footer>