<footer class="text-white bg-color-primary text-center p-4 small">
    <img src="/public/img/logo.webp" alt="Project Honku" width="60">
    <br>
    <b>Project Honku</b> merupakan organisasi nirlaba.
    <br>
    Setiap aset VN adalah milik dari perusahaan masing-masing.

    <hr class="w-25 ms-auto me-auto">
    "Jangan lupa baca buku"
    <br>
    - bookclaninjkt
    <hr class="w-25 ms-auto me-auto">
    
    <a href="/blog">Blog</a> | <a href="/fair-use">Penggunaan Wajar</a> | <a href="/privacy-policy">Kebijakan Privasi</a> | <a href="mailto:honku@aozora.my.id">Kontak Kami</a>
</footer>