{% if not noNavbarUnder %}
<nav class="navbar navbar-expand-md opacity-0 mb-2">
    <div class="container-xxl text-white">
        <a class="navbar-brand" href="/">
            <img src="/public/img/logo.webp" alt="Project Honku" height="35">
        </a>
    </div>
</nav>
{% endif %}

<div class="mt-2 ps-3 pe-3 fixed-top">
<div class="container-fluid bg-color-primary rounded-4 shadow-sm">
    <nav class="navbar navbar-expand-md container-xxl">
        <div class="container text-white">
            <a class="navbar-brand text-white" href="/">
                <img src="/public/img/logo.webp" alt="Project Honku" height="35">
                <b class="d-none d-md-inline-block">Project Honku</b>
            </a>
            <button class="d-md-none bg-transparent p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list text-white" style="font-size: 1.8rem;"></i>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav justify-content-center">
                    <a class="nav-link text-white me-3" href="/products">Produk</a>
                    <a class="nav-link text-white me-3" href="/team">Team</a>
                    <a class="nav-link text-white me-3" href="/blog">Blog</a>
                    <a class="nav-link text-white me-3" href="/about">Tentang</a>
                    <a class="nav-link text-white" target="_blank" href="https://saweria.co/AozoraDev">Saweria <i class="bi bi-box-arrow-up-right small"></i></a>
                </div>
            </div>
        </div>
    </nav>
</div>
</div>