{%- for team in teams -%}
<div class="col">
    <div class="team bg-white shadow-sm rounded p-2 d-flex">
        <img class="border border-2 rounded-circle me-2" src="{{ team.avatar }}" alt="Aozora" height="100%">
        <div class="info pt-1 h-100 d-flex flex-column justify-content-center">
            <h5 class="mb-0">{{ team.name }}</h5>
            <small class="opacity-75">{{ team.group }}</small>
        </div>
    </div>
</div>
{%- endfor -%}