<div class="col">
    <div class="team bg-white shadow rounded p-2 d-flex">
        <img class="border border-2 rounded-circle me-3" src="public/img/teams/aozora.webp" alt="Aozora" height="100%">
        <div class="info pt-1 h-100 d-flex flex-column justify-content-center">
            <h5 class="mb-0">Aozora</h5>
            <small class="opacity-75">Founder, EN Translator</small>
        </div>
    </div>
</div>

<div class="col">
    <div class="team bg-white shadow rounded p-2 d-flex">
        <img class="border border-2 rounded-circle me-3" src="public/img/teams/fiky.webp" alt="Fiky" height="100%">
        <div class="info pt-1 h-100 d-flex flex-column justify-content-center">
            <h5 class="mb-0">Fiky</h5>
            <small class="opacity-75">EN Translator</small>
        </div>
    </div>
</div>