---
layout: head.njk
pageTitle: Under Construction
pageDescription: Halaman ini sedang dalam pengerjaan
noNavbarUnder: true
---

{% include "navbar.njk" %}

<div class="container-xxl h-100 d-flex justify-content-center align-items-center flex-column">
    <h3 class="fw-bold mb-4">Work in Progress</h3>
    <img src="/public/img/logo.webp" alt="Project Honku" width="100" style="filter: grayscale(1);">
    <h3 class="fw-bold mt-4">Come back soon! ;)</h3>
</div>

{% include "footer.njk" %}