---
layout: head.njk
---

{% include "navbar.njk" %}

<header class="container-xxl mt-4">
    <div id="carousel" class="carousel slide container" data-bs-ride="carousel">
        <div class="carousel-inner rounded-4 border">
            {% for banner in index_banners %}
                <a href="{% gotoPro banner.id %}" class="carousel-item {% if loop.first %} active {% endif %} position-relative top-placeholder-background">
                    <small class="position-absolute bottom-0 start-0 text-white rounded-top-end p-1 opacity-75 bg-black" style="font-size: 1vw;">{{ banner.text }}</small>
                    <img src="/public/img/top-placeholder.webp" data-src="{{ cdn + banner.img }}" alt="{{ banner.id }}" class="d-block w-100 lazy">
                </a>
            {% endfor %}
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>
</header>

<main class="container-xxl">
    <div id="products" class="container mb-5 mt-3 text-center">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 gx-md-3 gy-3 text-start">
            {%- for product in collections.products | sort(attribute="data.status", reverse=true) -%}
                {% include "product-box.njk" %}
            {%- endfor -%}
        </div>
    </div>

    <div id="eksplisit" class="container p-4 position-relative bg-black text-white rounded-4 mb-5">
        <h2 class="fw-bold mb-3">Terkait Konten Seksual dan Versi Sensor</h2>
        <p class="mb-0">
            <b>Kami tidak akan dan tidak akan pernah menerjemahkan eroge atau visual novel yang menampilkan adegan seksual secara eksplisit.</b>
            <br><br>
            Project Honku memiliki misi untuk memperluas visual novel di Indonesia sambil tetap berusaha mematuhi <a href="https://peraturan.bpk.go.id/Download/29322/UU%20Nomor%2044%20Tahun%202008.pdf" class="text-white">Undang-Undang Republik Indonesia Nomor 44 Tahun 2008 tentang Pornografi</a>.
            <br>
            Namun, beberapa visual novel, khususnya versi sensor (biasanya Steam), mungkin masih melanggar undang-undang terkait karena makna "Pornografi" juga mencakup sindiran seksual.
            <br><br>
            Oleh karena itu, kami biasanya mengevaluasi visual novel yang akan diterjemahkan untuk menentukan apakah jumlah sindiran masih dapat ditoleransi.
            Jika masih diluar batas toleransi tapi masih dipaksakan untuk diterjemahkan, terkadang kami melakukan sensor tambahan.
        </p>

        <span class="position-absolute bottom-0 end-0 lh-1" style="font-size: 15rem; opacity: 15%;">18+</span>
    </div>

    <div id="faq" class="container mb-5 text-center">
        <h3 class="fw-bold mb-4"><span class="text-color-primary">Pertanyaan yang</span> sering ditanyakan</h3>
        <div class="row row-cols-1 gy-4">
            {% include "faq.njk" %}
        </div>
    </div>
</main>

{% include "footer.njk" %}