---
layout: head.njk
pageTitle: Team
---

{% include "navbar.njk" %}

<main class="container-xxl mt-5 d-flex flex-column align-items-center" style="min-height: 100%;">
    <div id="aozora" class="text-center">
        <img class="rounded-circle border border-3 mb-2" src="/public/img/teams/aozora.webp" alt="Aozora" width="130">
        <h3 class="fw-bold mb-0">Aozora</h3>
        <small class="opacity-75">Founder, EN Translator, Editor</small>

        <div class="d-inline-block w-100 fs-3 mt-2">
            <a class="me-2" href="https://facebook.com/aozoradev"><i class="bi bi-facebook"></i></a>
            <a class="me-2" href="https://facebook.com/aozoradev"><i class="bi bi-mastodon"></i></a>
            <a href="https://github.com/AozoraDev"><i class="bi bi-github"></i></a>
        </div>
    </div>

    <div style="margin-bottom: 10rem;"></div>
    <h2>Yep! Hanya seorang :)</h2>
</main>

{% include "footer.njk" %}